.NextVideo {
  display: flex;
  margin-bottom: 24px;
}

.nextVideo__video {
  flex-shrink: 0;
  width: 120px;
  height: 70px;
  margin-right: 16px;
  background-color: #eee;
  border-radius: 5px;
}

.nextVideo__text {
  flex-shrink: 2;
  .nextVideo__title {
    margin-bottom: 8px;
  }
}
