@import "../../App.scss";
.Video {
  width: 100%;
  height: 183px;
  color: white;
  margin-bottom: 32px;
  background-color: black;
  animation: color-change-2x 4s linear /*infinite alternate*/ both;
  @media only screen and (min-width: $break-tablet) {
    height: 400px;
    margin-bottom: 48px;
  }
  @media only screen and (min-width: $break-desktop) {
    height: 540px;
  }
}

video {
  display: flex;
  margin: 0 auto;
  background: black;
  background-size: cover;
  width: 320px;
  object-fit: fill;
  @media only screen and (min-width: $break-tablet) {
    width: 700px;
  }
  @media only screen and (min-width: $break-desktop) {
    width: 944px;
  }
}

.control {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 16px;
  position: relative;
  bottom: 45px;
  max-width: 320px;
  margin: auto;
  @media only screen and (min-width: $break-tablet) {
    max-width: 700px;
    margin: auto;
    bottom: 50px;
  }
  @media only screen and (min-width: $break-desktop) {
    max-width: 944px;
    margin: auto;
    bottom: 50px;
  }
}

.control__right,
.control__center,
.control__left {
  display: flex;
  height: 34px;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.control__right {
  flex-basis: 15%;
  justify-content: space-around;
  @media only screen and (min-width: $break-desktop) {
    flex-basis: 8%;
  }
}

.control__center {
  flex-basis: 50%;
  margin: 0 8px;
  // align-self: stretch;
  @media only screen and (min-width: $break-tablet) {
    flex-basis: 70%;
  }
  @media only screen and (min-width: $break-desktop) {
    flex-basis: 80%;
  }
}

.control__left {
  flex-basis: 8%;
  @media only screen and (min-width: $break-desktop) {
    flex-basis: 4%;
  }
}

.time {
  display: none;
  @media only screen and (min-width: $break-tablet) {
    display: flex;
  }
}

.progress {
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;
  @media only screen and (min-width: $break-tablet) {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.bar-border {
  display: flex;
  align-items: center;
  width: 70%;
  height: 6px;
  background-color: black;
  border-radius: 5px;
}

.bar-bar {
  height: 6px;
  background-color: $primary-cta;
  border-radius: 5px 0 0 5px;
  margin-right: -10px;
}

.bar-ball {
  bottom: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}

// @keyframes color-change-2x {
//   0% {
//     background-color: rgba(0, 0, 0, 0.5);
//   }
//   100% {
//     background-color: rgba(0, 0, 0, 1);
//   }
// }

@keyframes color-change-2x {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(0, 0, 0, 1);
  }
}
