* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}

.hero__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .hero__header {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}

h2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}

h4 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  h4 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
}

h5 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #afafaf;
}

.App {
  width: 100%;
}

body {
  color: #323232;
  font-family: AvenirNext, Roboto, Arial, Helvetica, sans-serif;
}

main {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

a {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media only screen and (min-width: 1440px) {
  .bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 75%;
    margin: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .bottom__left {
    width: 70%;
  }
}

@media only screen and (min-width: 1440px) {
  .bottom__right {
    width: 30%;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  padding: 0px;
  margin: 0px;
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media only screen and (min-width: 768px) {
  .Header {
    height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1440px) {
  .Header {
    margin: 0 180px;
  }
}

.logo {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    margin-bottom: 0;
    margin-right: 169px;
  }
}

@media only screen and (min-width: 1440px) {
  .logo {
    margin-right: 509px;
  }
}

@media only screen and (min-width: 768px) {
  .search {
    height: 100%;
    margin-right: 24px;
    width: 50%;
    height: 100%;
  }
}

.upload__btn {
  width: 80%;
  background-color: #0095ff;
  text-align: center;
  border-radius: 5px;
  padding: 20px 0;
  color: white;
  margin-right: 16px;
}

.upload__btn img {
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  .upload__btn {
    margin-right: 24px;
    width: 120px;
    padding: 10px 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.upload__btn:hover {
  background-color: #0065ad;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-image: url("../../assets/images/Mohan-muruge.jpg");
  background-size: cover;
}

.upload__avatar {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  .upload__avatar {
    width: 25%;
  }
}

.Search {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .Search {
    margin-bottom: 0;
    margin-right: 24px;
  }
}

.search__input {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  font-size: 12px;
  border: 2px solid #afafaf;
  outline: none;
  background: url("../../assets/icons/Icon-search.svg") no-repeat;
  background-position-x: 10px;
  background-position-y: 50%;
  background-repeat: none;
}

.search__input:focus {
  border: 2px solid #323232;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=Header.css.map */